body {
  margin: 0;
  padding: 0;
}
header {
  text-align: center;
}
nav {
  margin-bottom: 10px;
}

a,
a:focus,
a:hover,
a:active {
  color: black;
  text-decoration: none;
}

ul {
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
ul > li {
  border: solid 1px #ccc;
  padding: 8px;
  width: 80px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

div.card {
  padding: 10px;
  border: solid 1px #999;
  border-radius: 8px;
  width: 250px;
}
.card-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
input[type="text"] {
  width: 200px;
  height: 25px;
}
table {
  border-collapse: collapse;
  width: 100%;
  margin: 10px 0;
}
td.id {
  text-align: center;
  width: 120px;
}
th,
td {
  height: 30px;
}
td.company {
  text-align: center;
  width: 150px;
}
td.price {
  text-align: right;
  width: 100px;
}
tr > td {
  padding: 8px;
}
footer {
  margin-top: 20px;
}
section.body {
  margin: 0 auto;
  width: 90%;
}
table th {
  background-color: #777;
  color: white;
}
tr:hover {
  background-color: yellow;
}
